@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: #FCFBFF;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100vw;
    height: auto;
    padding: 0.5em 0;
    margin: 0 auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: fixed;
    z-index: 5;
    border: 0;
}

.navbar-nav {
    width: 80vw;
    margin: 0 auto;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    background-color: #888;
}

.navlink {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: small;
    transition: 0.5s;
    padding: .5em 1.5em !important;
}

.navlink:hover {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.contact-btn {
    border: 2px solid #17BEBB;
    border-radius: 21px;
    font-weight: 700;
}

.navbar-nav>li>.contact-btn:hover {
    background: #17BEBB;
    color: white;
}

.content {
    padding-top: 60px;
}

.attributes {
    padding-bottom: 4em;
}

.attributes-content {
    width: 90%;
    margin: 0 auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 10px #00000017;
    border-radius: 3px;
}

.attributes-content .row {
    margin: 0;
    padding: 2em;
    color: black;
}

.attributes-content h1 {
    font-size: 16px;
    font-weight: bold;
}

.attributes-content p {
    font-size: small;
    font-weight: normal;
    line-height: 1.7em;
}

.attributes-content div {
    padding: 1em;
}

.attributes img {
    width: 100px;
}

.footer {
    background: white;
    height: auto;
}

.container {
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    padding: 0px;
}

a {
    padding: 1em;
}

.navbar-brand {
    font-weight: 900;
    font-size: large;
    color: black;
    text-decoration: none;
}

.navbar-brand:hover {
    color: black;
    text-decoration: none;
}

.gzw {
    padding: 1em;
}

.hero {
    padding: 1em;
}

.hero h1 {
    font-weight: bold;
    font-size: medium;
    color: #17BEBB;
}

.hero h2 {
    font-size: larger;
}

.hero, .gzw, .ui-designs, .footer {
    text-align: left;
    padding-bottom: 2em;
    display: grid;
    justify-content: center;
}

.hero a {
    padding: .75em 2em;
}

.hero p {
    font-size: small;
    font-weight: normal;
    line-height: 1.7em;
}

.action-btn {
    border: 2px solid #17BEBB;
    border-radius: 21px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: small;
    padding: 1em;
    transition: 0.5s;
}

.action-btn:hover {
    background: #17BEBB;
    color: white;
    text-decoration: none;
}

.hero-img {
    width: 90% !important;
    margin: 2em auto 0 auto;
}

.hero-img:hover {
    cursor: pointer;
}

.gzw {
    background: white;
}

.gzw img {
    float: right;
}

.gzw h1, .ui-designs h1 {
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 0;
    color: #595959;
    opacity: 0.1;
    margin: 0;
}

.gzw h2, .ui-designs h2 {
    font-weight: bold;
    font-size: 15px;
}

.gzw p, .ui-designs p {
    font-size: 15px;
}

.gzw-content {
    display: flex;
    flex-direction: row-reverse;
}

.gzw-content>.image {
    flex: 1 0 0%;
}

.image>img {
    display: block;
    width: 600px;
}

.gzw-content>.text {
    flex: 2 0 0%;
}

.gzw a, .ui-designs a {
    font-size: 15px;
    padding: 0px;
    font-weight: bold;
    border-bottom: 2px solid #17BEBB;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.gzw a:hover, .ui-designs a:hover {
    color: #17BEBB;
}

.hero-content {
    display: flex;
}

.hero-content .image {
    flex: 1 0 0%;
}

.hero-content .text {
    flex: 2 0 0%;
    padding-top: 4em;
}

.hero-content p {
    margin-bottom: 2em;
}

.ui-designs {
    padding: 1em;
}

.ui-designs-content {
    display: flex;
    flex-direction: row;
}

.ui-designs-content>.image {
    flex: 2 0 0%;
}

.ui-designs-content>.text {
    flex: 1 0 0%;
}

.testimonials {
    background: #17BEBB;
    color: white;
}

.testimonials h1 {
    text-align: center;
    font-size: medium;
    padding-top: 2em;
    font-weight: bold;
}

.testimonials .carousel-inner {
    font-size: 0.6em;
}

.testimonials .carousel-inner .item {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
}

.testimonials .carousel-control {
    width: 10%;
}

footer {
    padding-top: 2em;
}

footer .footer-image>img {
    flex: 3 0 0%;
    padding-right: 10%;
}

footer>.hero-summary {
    flex: 1 0 50%;
    padding-right: 20%;
    padding-left: 7em;
}

footer .hero-summary p, footer .contact p {
    font-size: small;
}

footer h1 {
    font-weight: bold;
    font-size: medium;
}

#footer-wrap {
    max-width: 80vw;
    margin: 0 auto;
}

.contact a {
    font-size: small;
    padding: 0px;
    border-bottom: 2px solid #17BEBB;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.contact a:hover {
    color: #17BEBB;
}

.item {
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 5%;
}

#cycler {
    position: relative;
}

#cycler img {
    z-index: 1;
}

#cycler img.active {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .navbar-nav {
        width: auto;
        margin: 0;
    }
    .attributes-content {
        width: 85%;
        border-radius: 7px;
    }
    .testimonials .carousel-inner {
        font-size: 0.7em;
    }
}

@media (min-width: 992px) {
    .hero-content .text {
        padding-top: 7em;
    }
    .hero-img {
        width: 400px !important;
    }
    .attributes-content {
        width: 80%;
        border-radius: 13px;
    }
    .testimonials h1 {
        text-align: left;
        padding-left: 20em;
        padding-right: 20em;
    }
    .testimonials .carousel-inner {
        font-size: 0.75em;
    }
    .testimonials .carousel-inner .item {
        padding-left: 20%;
        padding-right: 20%;
    }
    .testimonials .carousel-control {
        width: 10%;
    }
}

@media (min-width: 1200px) {
    .attributes-content {
        width: 56vw;
    }
    .testimonials .carousel-inner {
        font-size: 1em;
    }
}