@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background: #FCFBFF;
    padding: 0;
    margin: 0;
}

.content {
    grid-area: content;
}
.topbar {
    grid-area: topbar;
	width: 100vw;
    height: auto;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: fixed;
    z-index: 5;
}

.attributes {
    padding-bottom: 4em;
}

.attributes-content {
    grid-area: topbar;
	width: 60vw;
    height: auto;
    margin: 0 auto;
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 10px #00000017;
    border-radius: 13px;
    opacity: 1;
    flex: 1;
    
}

.attributes-content ul {
    margin: 0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    color: black;
}

.attributes-content h1 {
    font-size: 16px;
    font-weight: bold;
}

.attributes-content p {
    font-size: small;
    font-weight: normal;
    line-height: 19px;
}

.attributes-content div {
    padding: 1em;
}

.attributes img {
    width: 100px;
}

.main-nav ul {
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.footer {
    grid-area: footer;
    background: white;
    height: auto;
}

.container {
    font-size: 1.5em;
    display: grid;
    grid-template-areas: 
        "topbar"
        "content"
        "footer";
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 300px;
    padding: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav li {
    list-style: none;
}

.navlink {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: small;
    transition: 0.5s;
}

.navlink:hover {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

a {
    padding: 1em;
}

.contact-btn {
    border: 2px solid #17BEBB;
    border-radius: 21px;
    font-weight: 700;
}

.contact-btn:hover {
    background: #17BEBB;
    color: white;
}

.logo {
    font-weight: 900;
    font-size: large;
    color: black;
    text-decoration: none;
}

.logo:hover {
    color: black;
    text-decoration: none;
}

.gzw {
    padding: 1em;
}

.hero h1 {
    font-weight: bold;
    font-size: medium;
    color: #17BEBB;
}

.hero h2 {
    font-size: larger;
}

.hero,
.gzw,
.ui-designs,
.footer {
    text-align: left;
    padding-bottom: 2em;
    display: grid;
    justify-content: center;
}

.hero a {
    padding: .75em 2em;
}

.hero img {
    float: right;
}

.hero p {
    font-size: small;
    font-weight: normal;
    line-height: 19px;
}

.action-btn {
    border: 2px solid #17BEBB;
    border-radius: 21px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: small;
    padding: 1em;
    transition: 0.5s;
}

.action-btn:hover {
    background: #17BEBB;
    color: white;
    text-decoration: none;
}

.hero-img {
    width: 400px !important;
}

.hero-img:hover {
    cursor: pointer;
}

.gzw {
    background: white;
}

.gzw img {
    float: right;
    width: 600px;
}

.gzw h1,
.ui-designs h1 {
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 0;
    color: #595959;
    opacity: 0.1;
    margin: 0;
}

.gzw h2,
.ui-designs h2 {
    font-weight: bold;
    font-size: 15px;
}

.gzw p,
.ui-designs p {
    font-size: 15px;
}

.gzw-content {
    display: flex;
    flex-direction: row-reverse;
}
.gzw-content > .image {
    flex: 1 0 0%;
}
.image > img {
    display: block;
    width: 600px;
}
.gzw-content > .text {
    flex: 2 0 0%;
}

.gzw a,
.ui-designs a {
    font-size: 15px;
    padding: 0px;
    font-weight: bold;
    border-bottom: 2px solid #17BEBB;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.gzw a:hover,
.ui-designs a:hover {
    color: #17BEBB;
}

.hero-content {
    display: flex;
    flex-direction: row-reverse;
}
.hero-content > .image {
    flex: 1 0 0%;
}

.hero-content > .text {
    flex: 2 0 0%;
    padding-top: 4em;
}

.ui-designs-content {
    display: flex;
    flex-direction: row;
}
.ui-designs-content > .image {
    flex: 2 0 0%;
    width: 500px;
}

.ui-designs-content > .text {
    flex: 1 0 0%;
}

.ui-designs {
    padding-top: 1em;
}

.testimonials {
    background: #17BEBB;
    color: white;
}

.footer {
    justify-content: space-around;
}

footer {
    max-height: 300px;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    padding-top: 50px;
}

footer .footer-image > img {
    flex: 3 0 0%;
    width: 290px;
    padding-right: 100px;
    display: block;

}

footer > .hero-summary {
    flex: 1 0 50%;
    padding-right: 20%;
    padding-left: 7em;
}

footer .hero-summary p,
footer .contact p {
    font-size: small;
}

footer > .contact {
    flex: 2 0 0%;
}

footer h1 {
    font-weight: bold;
    font-size: medium;
}

.contact a {
    font-size: small;
    padding: 0px;
    border-bottom: 2px solid #17BEBB;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.contact a:hover {
    color: #17BEBB;
}

.item {
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 5%;
    height: 26em;
}

.testimonials h1 {
    font-size: medium;
    padding-top: 2em;
    padding-left: 20em;
    padding-right: 20em;
    font-weight: bold;
}

